html,
body {
    height: 100%;
}

.custom-form {
    width: 40%;
    padding: 5%;
    margin: 0 auto;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.31);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.31);
}

button[type=submit] {
    width: 100%;
}

/*.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

